html,body{
    height: 100%;
}
.weather,.back{
    display:;
}
.welcome{
    display:none;
} 
#padding{
    width:100vw;
    max-width: 400px;
}
.separator{
    height: 1px;
    width: 100%;
    background: #ccc;
    display:flex;
    align-items: center;
    justify-content: center;
}
.separator::before{
    background-color:#212529;
    content:"or";
    color:#ccc;
    padding: 0 13px 4px 13px;
    font-size: 19px;
    
}