
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1200.01px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140.01px
);



@import "~bootstrap/scss/bootstrap";

*{
    scrollbar-color: #CCCCCC #333333;
}
/* Styl dla suwaka pionowego */
::-webkit-scrollbar {
    width: 0px; /* Szerokość suwaka */
}
::-webkit-scrollbar-thumb:horizontal {
    background-color: $gray-600;
    border-radius: 10px;

}
  
::-webkit-scrollbar-track:horizontal {
    background-color: #ffffff00;

}
html,body{
    background-color: $info;
    height: 100%;
    margin: 0;
    padding: 0;
}
.spinner{
    
    position: absolute;
    width: 100vw; 
    height: 100vh; 
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    display:none;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.navbarContainer{
    background-color: $gray-700;
}
.navbarBtn{
    background-color: $gray-700;

}
.navbarBtn:hover{
    background-color: $gray-800;

}
.app{
    background: radial-gradient(ellipse at right top, #7b71ec 0%, $gray-900 50%, $gray-900 100%);
}
.weather{
    max-width: 100vw;
    
}
#welcome{
    
    width:100vw;
    max-width: 400px;
} 
.inputo{
    position: absolute;
}
.separator{
    height: 1px;
    width: 100%;
    background: #ccc;
    display:flex;
    align-items: center;
    justify-content: center;
}
.separator::before{
    background-color:#212529;
    content:"lub";
    color:#ccc;
    padding: 0 13px 4px 13px;
    font-size: 19px;
    
}
.tempNow{
    font-size: 4em;
    
}
#currMaxMinDate{
    text-align: left;
}


// @media  (min-width: 768px){
//     body,html{
//         height: 100%;
//     }
// }



.kontener{
    width:fit-content;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}
#mychart{
    max-height: 90px;
    padding-left: 2%;
    padding-right: 1.5%;
    

}


#towideContent{
    width:60px;
}
.iconSize{
    font-size: 2rem;
}
#currImg{
    font-size: 9rem;
    margin-top: -2rem;
}
#currentLocation{
    text-align: center;
    font-size: large;
}
.fontLarge{
    font-size:xx-large;
}
.location{
    vertical-align: 5px;
}
.hourlyForecast{
    background-color: rgba($gray-700, .4) ; 
    border:1px solid rgba(#383567, .5) ; 
    scrollbar-color: #7b71ec rgba($gray-600, .3);
}

#daily{
    background-color: rgba($gray-700, .4) ; 
    border:1px solid rgba(#383567, .5) ; 
    scrollbar-color: #7b71ec rgba($gray-600, .3);
}
.daycontainer{
    min-width: 65px;
}
.block{
    height: 127px;
    
    
}
.block-el{
    height:100px;
}
.block-inside{
    background-color: rgba($gray-700, .4) ; 
    border:1px solid rgba(#383567, .5) ; 
}
.gap{
    gap: 5px;
}
.sunriseBlock{
    margin:auto;
    max-width: 350px;
    height: 100px;
    
}
.sunriseParent{
    height:40%;
}
.ovalParent{
    width: 100%;
    height: 60%;
    overflow: hidden;
    
    
}
.oval {
    position: relative;
    max-width: 300px;
    min-width: 200px;
    width: 90%;
    height: 350%;
    border-radius: 50% / 50%;
    overflow: hidden;
    background-color: transparent;
    transform: translateY(3%);
}
.oval::after {
    content: "";
    position: absolute;
    max-width: 300px;
    left: 0.5%;
    width: 99%;
    height: 100%;
    border-radius: 50% / 50%;
    overflow: hidden;
    background-color: #212529c2;
    
    transform: translateY(1.5%);
    
}

.oval::before {
    
    content: ""; 
    position: absolute;
    top: -50%;
    left: 0%;
    width: 100%;
    height: 150%;
    background: linear-gradient(to right, #ffa500, #2000d7);
    transform-origin: center center;
    animation: rotateGradient 5s ease-in-out infinite;

}

@keyframes rotateGradient {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(359deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.progress-bar {
    padding: 0 1%;
    margin-bottom: 4%;
    position: relative;
    height: 32px;
    
}
.progress-line{
    height: 32px;
    background: linear-gradient(to right, rgb(0, 167, 0),rgb(165, 165, 0),rgb(173, 113, 1), rgb(165, 0, 0));
    border-radius: 5px;
    border:1px solid $gray-400;
} 

.progress-dot{
    margin: 0 5%;
    position: absolute;
    font-size: 25px;
}
.mm{
    height:1px;
    
    
}
.selected{
    color: white;
    background-color: $primary;
}
.dropdown-item:hover {
    color: white;
    background-color: $primary;
    cursor:pointer;
    text-decoration: underline;
}
