html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.weather,.back{
    display:block;
}
.weather{
    max-width: 100vw;
}
.welcome{
    display:none;
} 
#padding{
    width:100vw;
    max-width: 400px;
}
.separator{
    height: 1px;
    width: 100%;
    background: #ccc;
    display:flex;
    align-items: center;
    justify-content: center;
}
.separator::before{
    background-color:#212529;
    content:"or";
    color:#ccc;
    padding: 0 13px 4px 13px;
    font-size: 19px;
    
}
.tempNow{
    font-size:calc(3vw + 35px);
}
@media screen and (min-width: 768px){
    .dayimg{
        width:40%;
    }
    
}